<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">



<!-- https://github.com/vladmihalcea/flexy-pool/blob/master/flexy-hikaricp/src/test/resources/spring/applicationContext-test.xml -->
           
	<bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
		<property name="minimumIdle" value="20"/>
	    <property name="maximumPoolSize" value="80"/>
	    <property name="connectionTimeout" value="30000"/>
	    <property name="driverClassName" value="${db.driver}"/>
	    <property name="jdbcUrl" value="${db.url}"/>
	    <property name="username" value="${db.username}"/>
	    <property name="password" value="${db.password}"/>
	</bean>
	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
	    <constructor-arg ref="hikariConfig" />
	</bean>
 
	
	<!-- 定义 MP 全局策略 -->
	<bean id="globalConfig" class="com.baomidou.mybatisplus.entity.GlobalConfiguration">
	    <!-- 主键策略配置 -->
	    <!-- 可选参数
	        AUTO->`0`("数据库ID自增")
	        INPUT->`1`(用户输入ID")
	        ID_WORKER->`2`("全局唯一ID")
	        UUID->`3`("全局唯一ID")
	    -->
	    <property name="idType" value="0"/>
	    <!-- 数据库类型配置 -->
	    <!-- 可选参数（默认mysql）
	        MYSQL->`mysql`
	        ORACLE->`oracle`
	        DB2->`db2`
	        H2->`h2`
	        HSQL->`hsql`
	        SQLITE->`sqlite`
	        POSTGRE->`postgresql`
	        SQLSERVER2005->`sqlserver2005`
	        SQLSERVER->`sqlserver`
	    -->
	    <property name="dbType" value="mysql"/>
	
	    <!-- 全局表为下划线命名设置 true -->
	    <property name="dbColumnUnderline" value="true"/>
	</bean>
    <!-- 配置sqlSessionFactory -->
    <bean id="mysqlSessionFactory" class="com.baomidou.mybatisplus.spring.MybatisSqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="mapperLocations">
            <list>
                <value>classpath*:/mysql-mybatis-mapper/*.xml</value>
                <value>classpath*:/mysql-mybatis-mapper/*/*.xml</value>
                <value>classpath*:/mapper/*.xml</value>
            </list>
        </property>
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>
        <property name="globalConfig" ref="globalConfig"/>
    </bean>

    <!-- dao 扫描包 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="mysqlSessionFactory"/>
        <property name="basePackage" value="com.fuyin.lima.dao.**;com.fuyin.lima.dao.**.**;com.example.demo.db.**;com.example.demo.service.req"/>
    </bean>

    <!-- 配置事务 -->
    <bean id="sqlTxManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!-- 开启注解式 事物-->
    <tx:annotation-driven transaction-manager="sqlTxManager" proxy-target-class="true"/>
</beans>

